*{
    box-sizing: border-box;
    font-size: 14px;
}

.header h1, p{
    text-align: center;
    font-size: 16px;
}

.header h1{
    color: red;
    font-size: 21px;
}

.header{
    color: rebeccapurple;
    font-family: cursive;
}

ul{
    list-style-type:  none;
    text-overflow: none;
    padding: 12px 
    
    
}

li{
    text-align: center;
    float: left;
    padding: 13px 15px;
    background-color: grey;
    margin: 5px;
    border: none;
    box-shadow: 0 0 12px black;


}
li a {
    text-decoration: none;
    color: black;
        
}